.board{
    width: 1521px;
    height: 800px;
    margin: 40px;
    padding: 100px;
    border-radius: 50px;
    border: white solid 1px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
}

.board-top{
    display: flex;
    justify-content: space-between;

}

.board-title{
    margin: 20px;
    width: 10%;
    height: 21px;
    font-family: NotoSansKR;
    font-size: 22px;
    color: #191919;
    display: flex;
    justify-content: left;
    align-items: center;

}

.button-exit{
    width: 10%;
    border-radius: 50px;
    border: solid 1px #191919;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-body{
    margin: 30px 0px;
    display: flex;
    justify-content:start;
    align-items: center;
}

.board-body-title{
    margin: 20px;
    width: 12%;
    height: 21px;
    font-family: NotoSansKR;
    font-size: 22px;
    color: #191919;
    display: flex;
    justify-content: left;
}

#board-input-title{
    width: 900px;
    display: flex;
    justify-content: left;
}

.board input{
    border-radius: 20px;
    border: 2px #c5c5c5 solid;
    padding: 10px;
    width: 100%;
    font-family: NotoSansKR;
    font-size: 18px;
    text-align: left;
    display: flex;
}

#board-input-search{
    width: 455px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#button-search{
    width: 5%;
    height: 50px;
    margin-left: 20px ;
    border-radius: 20px;
    border: solid 1px #c5c5c5;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board-input-content{
    width: 80%;
}

#board-input-content textarea{
    width: 100%;
    height: 200px;
    display: flex;
    border-radius: 20px;
    border: 2px #c5c5c5 solid;
    padding: 10px;
    font-family: NotoSansKR;
    font-size: 18px;
    text-align: left;
}

#board-input-hashtag{
    width: 30%
}

#youtube-link{
    display: flex;
    text-align: left;
}

#board-input-youtube{
    width: 20%;
    margin-left: 5px;
}

#board-input-youtube input{
    width: 80%;
}

#button-post{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
}
#button-post input{
    width: 20%;
    justify-content: center;
    background-color: black;
    font-family: NotoSansKR;
    font-size: 16px;
    color: #fff;
}