@font-face {
    font-family: 'beanpoleM';
    src: url('../fonts/beanpoleM.otf') format('opentype');
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/NotoSansKR-Regular.otf') format('opentype');
}

a {
    text-decoration: none;
    color: white;
}

body {
    width: 100%;
}

div {
    /*position: absolute;*/
}

.container {
    width: 100%;
    height: 3000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1c1406;
}

/*헤더*/

.header {
    width: 1844px;
    height: 90px;
    display: flex;
    flex-wrap: inherit;
    flex-direction: column;
}

.header-nav {
    width: 100%;
    height: 90px;
    z-index: 1;
    border-bottom: solid 1px #ffffff;
}

#logo {
    width: 57px;
    height: 31px;
    margin: 4px 5px 30px 30px;
    font-family: beanpoleM;
    font-size: 36px;
    line-height: 2.22;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.menu {
    width: 50px;
    height: 18px;
    margin: 4px 43px 30px;
    font-family: NotoSansKR;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

#menu-recommend {
    margin-left: 569px;
}

.menu-user {
    width: 50px;
    height: 18px;
    margin: 4px 20px 30px 20px;
    font-family: NotoSansKR;
    font-size: 18px;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

#menu-login {
    margin-left: 27%;
}

#menu-join {
    margin-right: 0%;
}